.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background: #d43c33;
    padding:0 10px;
    height:64px;
    position:relative;
}
.topbar > .logo{
    width:142px;
    height:25px;
    
}
.topbar > a{
    display: inline-block;
    color:#fff;
    font-size:15px;
    padding:0 10px;
    line-height:30px;
    height:30px;
    position:relative;
}
.topbar > a::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:200%;
    height:200%;
    border:1px solid #fff;
    border-radius:50px;
    transform: scale(0.5);
    transform-origin:0 0;
}
.tabs{
    display: flex;
    border-bottom:1px solid #cccccc;
}
.tabs >li{
    width:33.33333%;
    text-align: center;
    line-height:40px;
    font-size:15px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.tabs>li>.text{
    position:relative;
    padding:0 5px;
}
.tabs >li.active{
    color:#d43c33;
}
.tabs>li.active>.text{
    
}
.tabs >li.active>.text::after{
    content:'';
    position:absolute;
    height:4px;
    width:100%;
    transform:scaleY(0.5);
    background:#d33a31;
    z-index:3;
    left:0;
    bottom:-1px;
}
.tab-content >li.active{
    display: block;
}
.tab-content > li{
    display: none;
}