.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background: #d43c33;
    padding:0 10px;
    height:64px;
    position:relative;
}
.topbar > .logo{
    width:142px;
    height:25px;
    
}
.topbar > a{
    display: inline-block;
    color:#fff;
    font-size:15px;
    padding:0 10px;
    line-height:30px;
    height:30px;
    position:relative;
}
.topbar > a::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:200%;
    height:200%;
    border:1px solid #fff;
    border-radius:50px;
    transform: scale(0.5);
    transform-origin:0 0;
}
.tabs{
    display: flex;
    border-bottom:1px solid #cccccc;
}
.tabs >li{
    width:33.33333%;
    height:100%;
    text-align: center;
    line-height:40px;
    font-size:15px;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index:-1;
}
.tabs>li>.text{
    position:relative;
    padding:0 5px;
}
.tabs >li.active{
    color:#d43c33;
}
.tabs >li.active>.text::after{
    content:'';
    position:absolute;
    height:4px;
    width:100%;
    transform:scaleY(0.5);
    background:#d33a31;
    z-index:-1;
    left:0;
    bottom:-1px;
}
.tab-content >li.active{
    display: block;
}
.tab-content > li{
    display: none;
}
.playlists{
    display: block;
    padding-top:18px;
}
.playlists>h2{
    font-size:17px;
    padding-left:9px;
    margin-bottom: 14px;
    height:20px;
    line-height:20px;
    position:relative;
    
}
.playlists>h2::after{
    content:'';
    position:absolute;
    left:0;
    top:50%;
    margin-top:-6px;
    width:2px;
    height:16px;
    background: #d43c33;
}
.playlists>ol.albums{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    font-size: 13px;
}
.playlists>ol.albums>li{
    width:33%;
    padding-bottom:20px;

}
.playlists>ol.albums>li img{
    width:100%;
}
.playlists>ol.albums>li p{
    padding:0 6px;}