.page{
    height:100vh;
}
.mysong{
    width:100%;
    position:relative;
    overflow: hidden;
    height:100%;
}
.mysong>.mysong-bg{
    background-image: url(https://i.loli.net/2017/09/04/59ac4a917e603.jpg);
    opacity: 1;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: -1;
    transition: opacity 0.3s linear;
    transform-origin: center top;
    width:100%;
    height:100%;
    position:absolute;
    filter:blur(30px);
    transform: scale(1.5);
}
.mysong>.mysong-bg::after{
    position:absolute;
    left:0;
    right: 0;
    bottom:0;
    top:0;
}
.mysong-wrap{
    position: relative;
    padding-top:63px;
}
@media screen and (min-width:360px){
.mysong-wrap{
    padding-top:70px;
}
}
@media screen and (min-width:414px){
.mysong-wrap{
    padding-top:80px;
}
}
.mysong-wrap >.mysong-disc{
    position:relative;
    width:248px;
    height:248px;
    margin:0 auto;
}

@media screen and (min-width:414px){
    .mysong-wrap >.mysong-disc{
        width:342px;
        height:342px;
    }
}
@media screen and (min-width:360px){
    .mysong-wrap>.mysong-disc{
        width:296px;
        height:296px;
    }
}
.mysong-wrap>.mysong-disc::after{
    content:"";
    position:absolute;
    top:-63px;
    left:107px;
    z-index: 5;
    width:84px;
    height:122px;
    background: url(//s3.music.126.net/m/s/img/needle-ip6.png?be4ebbeb6befadfcae75ce174e7db862) no-repeat;
    background-size: contain;
}
@media screen and (min-width:360px){
    .mysong-wrap>.mysong-disc::after{
        width:96px;
        height:137px;
        top:-70px;
        left: 133px;
        background-image: url(//s3.music.126.net/m/s/img/needle-ip6.png?be4ebbeb6befadfcae75ce174e7db862);
    }
}
@media screen and (min-width:414px){
    .mysong-wrap>.mysong-disc::after{
        width:110px;
        height:157px;
        top:-80px;
        left: 130px;
        background-image:url(//s3.music.126.net/m/s/img/needle-plus.png?994aa910ce3e4d242eb7076620b0e502);
    }
}

.mysong-wrap>.mysong-disc>.mysong-turn{
    width:100%;
    height:100%;
}
.mysong-wrap>.mysong-disc >.mysong-turn::before{
    content:"";
    position:absolute;
    left: 0;
    right:0;
    top:0;
    width:100%;
    height:100%;
    bottom:0;
    z-index: 2;
    background:  url(//s3.music.126.net/m/s/img/disc.png?d3bdd1080a72129346aa0b4b4964b75f) no-repeat ;
    background-size: contain;
    animation:spin 20s infinite linear;
    animation-play-state:paused;
}
@media screen and (min-width: 360px){
    .mysong-wrap>.mysong-disc>.mysong-turn::before{
        background-image:url(//s3.music.126.net/m/s/img/disc-ip6.png?69796123ad7cfe95781ea38aac8f2d48);
    }
}

@media  screen and (min-width: 414px){
    .mysong-wrap>.mysong-disc>.mysong-turn::before{
        background-image:url(//s3.music.126.net/m/s/img/disc-plus.png?b700b62e1971b351dcb8b8ce1c9ceea3);
    }
}
.mysong-wrap>.mysong-disc.playing>.mysong-turn::before{
    animation-play-state:running;
}
.mysong-wrap>.mysong-disc>.mysong-turn::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 3;
    background: url(//s3.music.126.net/m/s/img/disc_light.png?2bb24f3fd11569809b817b4988f12bc7) no-repeat;
    background-size:contain;

}
@media screen and (min-width: 360px){
    .mysong-wrap>.mysong-disc>.mysong-turn::after{
        background-image:url(//s3.music.126.net/m/s/img/disc_light-ip6.png?996fc8a2bc62e1ab3f51f135fc459577);
    }
}
@media screen and (min-width: 414px){
    .mysong-wrap>.mysong-disc>.mysong-turn::after{
        background-image:url(//s3.music.126.net/m/s/img/disc_light-ip6.png?996fc8a2bc62e1ab3f51f135fc459577);
    }
}

.mysong-turn>.mysong-img img{
    display:flex;
    width:150px;
    height:150px;
    z-index: 1;
    margin:-75px 0 0 -75px;
    border-radius:50%;
    overflow: hidden;
    position:absolute;
    left:50%;
    top:50%;
    background:url(//s3.music.126.net/m/s/img/disc_default.png?7c9b3adc16f5485c2bfbe8a540534188) no-repeat;
    background-size:contain;
    animation:spin 20s infinite linear;
    animation-play-state:paused;
}
.mysong-wrap>.mysong-disc.playing>.mysong-turn>.mysong-img img{
    animation-play-state:running;
}
@keyframes spin {
    0%{transform:rotateZ(0deg);}
    100%{transform:rotateZ(360deg)}
}
@media screen and (min-width: 360px){
    .mysong-turn>.mysong-img img{
        width:184px;
        height:184px;
        margin:-92px 0 0 -92px;
    }
}
@media screen and (min-width:414px){
    .mysong-turn>.mysong-img img{
        width:212px;
        height:212px;
        margin:-106px 0 0 -106px;
    }
}
.playbutton{
    width:50px;
    height:50px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:10;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAACoCAMAAABDlVWGAAABJlBMVEUAAAAAAAD////l5eX///9iYmKDg4Pn5+f///9YWFj////09PT////4+Pjt7e3///////9oaGhBQUH////////////////CwsIaGhr///8xMTEkJCT////7+/vp6en///////////////+srKyoqKienp58fHz////y8vKTk5P///8EBAT////////////////V1dW3t7f////////////////////v7++jo6N9fX3///////+UlJT////s7Oz////Nzc3///////+RkZGPj495eXkTExP////////29vb////k5OTPz882Njb////////////c3Nz///////9ycnJsbGz///9dXV3////////Q0ND///9QUFD///////////////////9FeiN6AAAAYXRSTlNmAP3c+oWT3ueB9vA19ealRId5EQbuurpu83RxD/nh05dfAquooo+M7JtzaSolE+vMspJ3Wj7w6KSQj6ucKeXNxLWnmpmObVYd8t3axXZRSt7TvbKLideCeSzHnn4V3Nh6YarbPAAABlRJREFUeNrU14lWEmEYh/GXcdj3HQTZRCkS913UNE2zbLd9Oc/930Q2LmVpwPAC03MD/M5835n/IC6dkqHnzcVoZvdkLp2HfHruZDcTXWw+DyVdOilAt6uNjI8782Ua1W2XjTShtdDSmzRdlH6zFKq5bKQBTS5H57gqXJrP1tsb7kShkBPJFQoJ90a7np0vhblqLrrc8R7oQ4vVPZOLIp8mp8flzsanJ59FuMjcqxZdHVKFxvYDWK1lPQXpooInu4ZVYD/m6pAWNLn0DSvvekJ6KLHuxerb0qyrQwrQViV/oZzKSc/lpi6sgUrLdSN16MyWARBcOBWbnS4EAYytj67r1KGtqMUseaSvPCWLGr14u+pDZysmwFhc+i4+BmBWZgcATTXTFvO9qOS3qOlmShu68g7A6xa13F6A7yuq0ORnA9jZENU2dgDjc1IPGvMB4QNR7+AJ4IspQVObBjDmF+Wur6qxmdKAbpeBoEcGlCcIlLf7hx7lOzxOlYeaP+oTmmoYQFsGWhswGql+oMUMEInLgItHgEzRPvS43OHYVY+/fGwXGvIBkzKU6oAvZA8aywOPZEg9AvIxO9AXAZg4lKF1OAGBF71DX5jw5EyG2NkTMJ/3Co2ZcM8tQ819D8xYb9CVgA2nijSw0gs0tArBzk59aRBWQ91Dj30QjssIiofBd9wttFiGiTMZSWcTUC52B629Bg5lRB0Cr2tdQRvAfRlZ94FGN9AjA+oywupgHHWGzuRhTEbaGORnOkFTZYj4ZaT5I1BOdYBuAnEZcXFg89/QmAFtGXltMGL/ghZ9I7+g19fUV/wHtAJBvzggfxAqd0NXDPCII/KAsXIXNPXOIQd/efjvUndAmxB2xMH/zB+G5u3Qr2k4EMd0AOmvt0IrsCMOagcqt0FbJkyLg5oGs3ULNApecVReiP4NnTHALY7KDcbHv6BbDno1XTUGW39CWwa8F4flB6P1B3TRgQ/UeqSLN6GzAQd83f1dHAKzN6AfoCQOrARLN6Andr9GpiITT9/KwPLAye/QGATFTusAxsOCDKogxH6D7sOC2GkNq+B9GVALsP8LWgzAqdjJ4LJXCRlIpxAoXkOrtteT6yYmH8gg8kL1GroHU/1CoTSQBZ6CvSto0oRc/1DM7GNRLwdm8hK6DF5RgMI9j6jnheVLaBTWdaAwPy7KrUP0Alqbg4QWlPCU6JaAuZoFDcGaqEHh6RdRLQIhC/oBsppQzAXVN1UWlixoBjyqUIhozr8H3vyE1lYhpwnVnv8CpH9CZyAi2lAIPtK8pDPn0Cp8UoWqz/8zqJ5DGzCpCdWf/0lonEMzMK0J1Z//acicQ30wrgnVn/9x8LkkCWFRherPfxiSEgKvLlR//r0QkmWY14Xqz/88LEsTsqpQ/fm3RlQWoa4L1Z//OixKFNq6UP35vw9RycDGMKAYD3P9vEhlF9y6UP35d8OuvISELlR//hPwUqxh0oTqz781TbIKueFB4em4rb/Mq5IfMpRn0nOPIS+ADBUatvcz/w/0B/X2VgMACMNQ9AMnWOADKwT/QuahyZYcDcte7e146X9W+vFmWmEzOeOJGfjMCmWOEubMYw7no7wizHPHvMuMAMFIOo5IxsiOjJDLSOOM2cDYN44hxliMjGnL2OAOWMCgGgz84uBEDKDFIG8ORLhzLPO2Y5kK6PpMdJiBsR28nQkMOBEMJtTixISY4JUTZWPCgVXevesgCINhGG7dZPLEIg7GRRsMTsaoMTEOnmLUuBgn+e//JuTHGt0aKT3y3QIFpj6vO9ctnbnAmr9PIysefn0E0PfhkjW92HFtnQHULn5AAG9aISZGF3NaQYxVrInRrcVYBW4H5vkPEPIfuIV5UGXhClHT8Qv9oXQ/MckoTfb+wVTGqK8ZUl9+4mmUnpGj03pOmzlH5y/w5w6ZiAil+G9qA0KpkfWMTxKsJ6530wel3try9CwjSscg27BTDcw321gHjzyuEjj9IbwP1hPeDqHo2abP0pn5XMR/NhTB/fyo2gv3q0gh1JSkEHCrUuMSG1VxCdxDOtfR1ZDr4AGUwIUACi5JJZMyx1RHUgY3kIn0LBuFQk2EFlv7J3t0+id7JPi86wlJsfm9FUVbQrZR1LrPmQ0hKZfSXC7Fzr5LeD7uGoYBQBCGV56PS2g5ewGy+NkUNbjr9gAAAABJRU5ErkJggg==) 0 0 no-repeat;
    background-size:contain;
    display:block;
}
.closebutton>.closeicon{
    width:60px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:10;
     display: none;
    fill:white;
}
.playbutton.active{
    display: none;
}
.closebutton.active>.closeicon{
    display: block;
}
@media screen and (min-width: 360px){
    .playbutton{
        width:56px;
        height:56px;
    }
}
@media screen and (min-width: 414px){
    .playbutton{
        width:65px;
        height:65px;
    }
}
.mysong-info{
    padding:0 35px;
    margin-top:25px;
}
@media screen and (min-height:672px){
    .mysong-info{
        margin-top:25px;
    }
}
.mysong-info h2{
    text-align:center;
    font-size:15px;
    line-height:1.1;
    color:#fefefe;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
@media screen and (min-width: 375px){
    .mysong-info h2{
        font-size:18px;
    }
}
.mysong-info h2>.space{
    margin:0 4px;
}
.lrc{
    margin-top:14px;
    overflow:hidden;
}
.lrc>.mysong-scroll{
    line-height:1.5;
    font-size:13px;
    height:72px;
    oevrflow:hidden;
    text-align:center;
    color:hsla(0,0%,100%,.6);
}
@media screen and (min-width: 375px) {
    .lrc>.mysong-scroll{
        height:92px;
        font-size:16px;
    }
}
.lrc>.mysong-scroll>.mysong-liner{
    transition:transform 0.3s;
}
.lrc>.mysong-scroll>.mysong-liner>p.active{
    color:#fff;
}
.mysong-foot{
    position:absolute;
    left:0;
    right:0;
    bottom:20px;
    z-index:10;
}
.mysong-foot>.foot-wrap{
    display:flex;
    padding:0 35px;
    max-width:320px;
    margin:0 auto;
}
@media screen and (min-width: 360px){
    .mysong-foot>.foot-wrap{
        max-width:292px;
    }
}
@media screen and (min-width: 414px){
    .mysong-foot>.foot-wrap{
    max-width:320px;
}
}
.mysong-foot>.foot-wrap a{
    flex:1 1 auto;
    width:1%;
    height:36px;
    line-height:36px;
    padding:0 6px;
    text-align:center;
    border-radius:4px;
    font-size:15px;
    margin-left:12px;
    letter-spacing:1vw;
}
@media screen and (min-width: 360px){
    .mysong-foot>.foot-wrap>a{
        height:42px;
        line-height:42px;
        font-size:18px;
    }
}
@media screen and (min-width: 414px){
    .mysong-foot>.foot-wrap>a{
        height:47px;
        line-height:47px;
        font-size:20px;
    }
}
.mysong-foot>.foot-wrap>.open{
     color:#d43b32;
    border:1px solid #d43b32;

}
.mysong-foot>.foot-wrap>.down{
    background:#d43b32;
    color:#fff;
}

